#logo-container img {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 200px;
  margin-top: 50px;
  margin-left: 100px;
  z-index: 1;
}

#result-body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.result {
  font-family: "Outfit", sans-serif;
  color: white;
  letter-spacing: 1.5px;
  line-height: 12px;
  font-size: 25px;
  margin-inline: auto;
  text-align: center;
}

.result > p {
  letter-spacing: 0.4px;
}

.percentage {
  position: relative;
}

.answers {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 45px;
  position: absolute;
  top: 236px;
}

.container {
<<<<<<< HEAD
  height: 530px;
  width: 530px;
  position: relative;
  transform: translate(-50%, -70%);
  top: 410px;
=======
  height: 550px;
  width: 550px;
  position: relative;
  transform: translate(-50%, -50%);
  top: 300px;
>>>>>>> parent of 5ae7041 (Merge branch 'develop' of https://github.com/abdHar12/BuildWeek-project_Team13 into develop)
  left: 50%;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.container::before {
  content: "";
  position: absolute;
  height: 75%;
  width: 75%;
  border-radius: 50%;
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
}

#feedback-button {
  background-color: transparent;
  border: 2px white solid;
  color: white;
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
<<<<<<< HEAD
  width: 300px;
  top: 850px;
=======
  width: 200px;
  top: 712px;
>>>>>>> parent of 5ae7041 (Merge branch 'develop' of https://github.com/abdHar12/BuildWeek-project_Team13 into develop)
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
  height: 80px;
}

.button:hover {
  box-shadow: 0px 0px 14px 3px rgba(207, 255, 253, 1);
}

#true_question {
<<<<<<< HEAD
  top: 460px;
=======
  top: 280px;
>>>>>>> parent of 5ae7041 (Merge branch 'develop' of https://github.com/abdHar12/BuildWeek-project_Team13 into develop)
  font-weight: bold;
  font-size: 100px;
}

#false_question {
<<<<<<< HEAD
  top: 460px;
=======
  top: 280px;
>>>>>>> parent of 5ae7041 (Merge branch 'develop' of https://github.com/abdHar12/BuildWeek-project_Team13 into develop)
  font-weight: bold;
  font-size: 100px;
}

#quantity_true {
<<<<<<< HEAD
  top: 580px;
=======
  top: 380px;
>>>>>>> parent of 5ae7041 (Merge branch 'develop' of https://github.com/abdHar12/BuildWeek-project_Team13 into develop)
  font-weight: 100;
  font-size: 40px;
}

#quantity_false {
<<<<<<< HEAD
  top: 580px;
=======
  top: 393px;
>>>>>>> parent of 5ae7041 (Merge branch 'develop' of https://github.com/abdHar12/BuildWeek-project_Team13 into develop)
  font-weight: 100;
  font-size: 40px;
}

.position_correct {
<<<<<<< HEAD
  left: 460px;
=======
  left: 180px;
>>>>>>> parent of 5ae7041 (Merge branch 'develop' of https://github.com/abdHar12/BuildWeek-project_Team13 into develop)
}

.position_wrong {
  right: 480px;
}

#correct {
  font-size: 100px;
  margin-top: 50px;
}

#wrong {
  font-size: 100px;
  margin-top: 50px;
}

#text_result {
  color: white;
  width: 70%;
  font-size: 23px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  position: absolute;
  display: grid;
  place-items: center;
  text-align: center;
}

#different_color {
  color: aqua;
}

.lower_text {
<<<<<<< HEAD
  font-size: 19px;
=======
  font-size: 20px;
>>>>>>> parent of 5ae7041 (Merge branch 'develop' of https://github.com/abdHar12/BuildWeek-project_Team13 into develop)
  font-weight: 100;
}
