#logo-container img {
  top: 0;
  left: 0;
  max-width: 200px;
  margin-top: 50px;
  margin-left: 100px;
  z-index: 1;
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  min-height: 100%;
  background-image: url("./img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.result {
  font-family: "Outfit", sans-serif;
  color: white;
  letter-spacing: 1.5px;
  line-height: 5%;
  font-size: 35px;
  margin-inline: auto;
  text-align: center;
  margin-top: 20px;
}

.result > p {
  letter-spacing: 0.4px;
}

.answers {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 45px;
  position: absolute;
  top: 300px;
}

.container {
  height: 480px;
  width: 480px;
  position: relative;
  transform: translate(-50%, -70%);
  top: 370px;
  left: 50%;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.container::before {
  content: "";
  position: absolute;
  height: 75%;
  width: 75%;
  border-radius: 50%;
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
}

#feedback-button {
  background-color: transparent;
  border: 3px white solid;
  color: white;
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  width: 200px;
  top: 800px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
}

.button:hover {
  box-shadow: 0px 0px 14px 30px rgb(27, 181, 176);
}

#true_question {
  top: 370px;
  font-weight: bold;
  font-size: 100px;
}

#false_question {
  top: 370px;
  font-weight: bold;
  font-size: 100px;
}

#quantity_true {
  top: 480px;
  font-weight: 100;
  font-size: 40px;
}

#quantity_false {
  top: 480px;
  font-weight: 100;
  font-size: 40px;
}

.position_correct {
  left: 200px;
}

.position_wrong {
  right: 200px;
}

#correct {
  font-size: 60px;
}

#wrong {
  font-size: 60px;
}

#text_result {
  color: white;
  width: 600px;
  font-size: 28px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  position: absolute;
  display: grid;
  place-items: center;
  text-align: center;
}

#different_color {
  color: aqua;
}

.lower_text {
  font-size: 30px;
  font-weight: 100;
}
