body {
  margin: 0, auto;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white;
  font-family: "Inter", sans-serif;
}

header {
  margin-left: 4em;
  margin-top: 4em;
}
img {
  width: 10em;
}
h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 60px;
}

.container-results1 {
  text-align: center;
}

#mainResults {
  margin-bottom: 80px;
}
#Header {
  margin-bottom: 50px;
}
.h1-results,
.p1,
.rate {
  margin: 0 auto;
}
.rate,
.p1 {
  font-size: 80px;
}
.h1-results,
.rate {
  font-weight: 700;
}
.p1 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0;
}
.summary {
  font-size: 40px;
  margin-top: 0;
}
/*flexbox*/
#container-result2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#leftPosition,
#centralPosition,
#rightPosition {
  width: 40%;
}
#rightPosition {
  color: rgba(219, 210, 210, 0.984);
}
.graphic {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}
#feed {
  background-color: #4caf4f00;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 20px 60px;
  font-size: 15px;
}
.p2wrong,
.p2correct {
  color: #00ffff;
  font-weight: bold;
  margin-top: 0;
  font-size: 16px;
}
